---
layout: default
---
<section class="masonry">
  {% for item in site.columns %}
  <div class="item">
    <article>
      <h3>{{ item.title }}</h3>
      <img {% if item.image_bw %}class="bw"{% endif %} src="{{ item.image }}">
      {% if item.image_caption %}
        <blockquote>{{ item.image_caption }}</blockquote>
      {% endif %}
      {{ item.excerpt }} <a href="{{ item.url }}">Continue reading</a>.
    </article>
    </div>
  {% endfor %}
</section>

<footer>
  <h4>© {{ site.time | date: '%Y'}} Because who doesn't want a footer on their website?</h4>
</footer>
