/* BASIC SET-UP and STYLES */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Georgia', serif;
  margin: 0;
}
#masthead h1 {
  text-align: center;
  margin:.25em;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size:80px
}
#masthead p {
  text-align: center;
  margin-bottom: 2em;
  background: black;
  color: white;
  padding: .25em 0;
}
p {
  text-align: justify;
  margin:.25em 0 .5em 0;
  line-height:1.35em;
}
h3 {
  margin: 0;
  padding: 0 0 .25em;
  font-size:1.5em;
}
article {
  margin-bottom: 1.5em;
}
blockquote {
  padding: 1em 0;
  margin:1em 0;
/*   background: #eee; */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
}
q {
  font-size: 22px;
  font-style: italic;
  display: block;
  margin:1em 0;
}
footer {
  display:flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  padding:0;
  width: 100%;
  height: auto;
  padding: 1em 0 0;
}
footer h4 {
  font-weight:normal;
  display: flex-item;
  width: auto;
  text-align:center;
  padding: 1em 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.item a {
  white-space: nowrap;
}
.item a:hover {
  background: tomato;
  color: white;
}
/*
 *
 * THE REAL MAGIC BEGINS BELOW...
 *
 * */

/* MASONRY COLUMN MAGIC */
.masonry { /* Masonry container */
  width:99%;
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  padding: 0;
  font-size: .85em;
  margin-left:-1px;
  margin-bottom: 15px;
}
.item {
/*     display: inline-block; */
  display: block;
  background: #fff;
  padding: 0 1em;
  width: 104%;
  -webkit-transition:1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 1px solid black;
/*   if using inline-block, doesn't requre min-height or height but columns don't stretch as well vertically */
  min-height: 100%;
  height:100%;
}
/* END OF MASONRY COLUMN MAGIC */
.item img, .video{
  max-width:100%;
  margin-bottom: .75em;
}

.bw {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
