/* BASIC SET-UP and STYLES */
.sideHeroColumn {
  float: left;
  width: 25%;
  padding: 10px;
}
.heroColumn {
  float: left;
  width: 50%;
  padding: 10px;
}
.heroColumn img {
  width: 50%;
  height: auto;
  margin-bottom: .75em;
  display: block;
  margin: auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Georgia', serif;
  margin: 0;
}
#masthead h1 {
  text-align: center;
  margin:.25em;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size:80px
}
#masthead p {
  text-align: center;
  margin-bottom: 2em;
  background: black;
  color: white;
  padding: .25em 0;
}
#masthead nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 2em;
}
#masthead nav ul li {
  float: left;
}
#masthead nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#masthead nav ul li a:hover{
  background-color: #111;
}
p {
  text-align: justify;
  margin:.25em 0 .5em 0;
  line-height:1.35em;
}
h3 {
  margin: 0;
  padding: 0 0 .25em;
  font-size:1.5em;
}
article {
  margin-bottom: 1.5em;
}
blockquote {
  padding: 1em 0;
  margin:1em 0;
/*   background: #eee; */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
}
q {
  font-size: 22px;
  font-style: italic;
  display: block;
  margin:1em 0;
}

.item a {
  white-space: nowrap;
}
.item a:hover {
  background: tomato;
  color: white;
}
/*
 *
 * THE REAL MAGIC BEGINS BELOW...
 *
 * */

/* MASONRY COLUMN MAGIC */
.masonry { /* Masonry container */
  width:99%;
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  padding: 0;
  font-size: .85em;
  margin-left:-1px;
  margin-bottom: 15px;
}
.item {
/*     display: inline-block; */
  display: block;
  background: #fff;
  padding: 0 1em;
  width: 104%;
  -webkit-transition:1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 1px solid black;
/*   if using inline-block, doesn't requre min-height or height but columns don't stretch as well vertically */
  min-height: 100%;
  height:100%;
}
/* END OF MASONRY COLUMN MAGIC */
.item img, .video{
  max-width:100%;
  margin-bottom: .75em;
}

.bw {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


/* Footer */
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
